<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0513175856.js" crossorigin="anonymous"></script> 
  <script src="https://kit.fontawesome.com/0513175856.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css" type="text/css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Cairo:900|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
   <nav class="navigation-menu">
  	 	<div class="navigation-menu-toggle js-nav-menu-toggle">
           <span class="navigation-menu-bars"></span>
  	 	</div>
  	 	<ul class="menu-list" style="height: unset;">
  	 		<li class="menu-list-item"><a href="/home">Home</a></li>
        <li class="menu-list-item"><a href="/aboutUs">About Us</a></li>
        <li class="menu-list-item"><a href="/services">Services</a></li>
  	 		<li class="menu-list-item"><a href="/contactUs">Contact Us</a></li>
  	 	</ul>	
  	 </nav>
  		