<%- include("./partials/header.ejs") %> 

<div id="dd">
	<div class="container sec-padding  p-relative">
		<h1 class="title-h p-relative color-fff">
				  <span class="fw-200">About </span>Gold Mine 
				  <span class="line p-absolute bg-orange"></span>
			  </h1>
	    <p class="title-p color-999">Take home Gold in just a minute with the help of our revolutionary, intelligent and interactive gold vending machine.</p>
	<div class="row">
	<div class="col-md-6 video-area">
	    <div class="video-image p-relative" style="
    width: unset;
    height: unset;
">
			<img alt="img" src="gold mine.png">
			<a class="p-absolute" href="https://www.youtube.com/watch?v=G9n-9Q4Y4uM" data-lity="">
				<i class="fa fa-play p-relative fs-20 bg-orange color-fff transition-2 pl-3px radius-50 text-center color-fff-hvr bg-333-hvr"></i>
			</a>
	    </div>
    </div>
    <div class="col-md-6">
					  <div class="about-text wow fadeInRight mt-25px" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInRight;">
						  <h3 class="fw-600 mb-20px color-fff"><span class="fw-200"> Make your moment </span> <br>special with Gold Mine!</h3>
						  <p class="mb-20px color-999">Gold Mine is the world’s first cashless gold vending machine, powered by robust security and real-time information. It is revolutionizing the way one invests in a lifetime of happiness for himself and his family. Gold Mine can be placed anywhere, be it in Shopping Malls, Airports, Hotels or Shops.</p>
						  <div class="row">
							  <div class="col-sm-6">
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i> Advance Security</p>
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i> Multi-Denominational</p>
								 
							  </div>
							  <div class="col-sm-6">
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i> Compelling Interface</p>
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i> 24/7 Real-Time Pricing</p>
								 
							  </div>
						  </div>
						  
					  </div>
	</div>
</div>
</div>
<hr></hr>
<div class="container about-area sec-padding ">
<div class="row">
				  <div class="col-md-6">
					  <div class="mt-25px mb-25px">

						  <h3 class="mb-20px fw-600 color-fff"><span class="fw-200">About</span> GoldCity Mall 				  
                          </h3>
					  	  <p class="mb-30px color-999">It is the first of its kind peer to peer network-enabled Platform between Jewelers, Manufactures and Sellers to ensure that the customer never leaves the storefront disheartened and without a purchase
					  		</p>	 
					  		<div class="row">
							  <div class="col-sm-6">
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i> Peer-to-peer Network</p>
								  <p class="mb-30px color-999">Connecting Manufactures, Sellers, Retailers and Customers</p>
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i> Transparency</p>
								  <p class="mb-30px color-999">Complete visibility of stock and price across the platform</p>

							  </div>
							  <div class="col-sm-6">
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i>Actionable Insights</p>
								  <p class="mb-30px color-999">Take action based on buying pattern of customers</p>
								  <p class="mb-10px color-orange"><i class="fa fa-check color-orange mr-5px"></i> 24/7 Real-Time Pricing</p>
								  <p class="mb-30px color-999">Updated prices every second, because we believe in precision</p>
								 
							  </div>
						  </div>
						  <a href="http://www.goldcitymall.com/" class="main-btn btn-3 before-111 mt-15px" >Know More</a>

					  </div>
				  </div>
				  <div class="col-md-6">
					  <div class="about-image mb-50px wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
						<img src="gold city mall.png" alt="about">
					  </div>
				  </div>
</div>
</div>

</div>

 <%- include("./partials/footer.ejs") %>