	<%- include("./partials/header.ejs") %>  
  <img  src="../banner2.png" style="height:100%;width:100%;opacity:0.1;position:fixed;">			
  				<div class="vidContent" style="overflow:hidden;">
  					<div class="row">
  						<div class="col-md-6" style="overflow: hidden">
  						   <ul class="pics">
						  	<li id="test-element" class="item1"><div class="bg"></div></li>
						  	<li class="item2"><div class="bg"></div></li>
						  	<li class="item3"><div class="bg"></div></li>
						  </ul>
  						</div>
  					    <div class="col-md-6">
  					    	<div class=" d-flex flex-column justify-content-center" >
  					     <div class="container p-2" style="height: auto;">
  					       <img src="https://www.arihant.com.sg/wp-content/uploads/2019/02/cropped-4k-small-2.png" style="width: 230px;height: 200px;margin-bottom:10px;">
  					       <h1 class="" style="height: auto;font-family: 'Roboto Slab';">WELCOME TO ARIHANT</h1>
  					       <p class="" style="height: auto;font-size:20px;color:#fff;font-family: 'Roboto Slab';">
  						      ALways here to make it brighter 
  					        </p>
  				         </div>
  				     </div>
  					    </div>
  					</div>
            <div class="handel"></div>
  			</div>
  		
 <%- include("./partials/footer.ejs") %>