<%- include("./partials/header.ejs") %> 
             
	<div class="container p-2" style="height:unset;color:white;width:unset;">

		  	   <div style=" border-left: 5px solid #eba434;
    padding-left: 4px;   margin-bottom: 30px; 
    margin-top: 30px; "><h3> Who We Are !</h3></div>
		  	   <div ><p class="lead" style="font-size:1rem;text-align:justify;color:#fff;">Arihant Jewellers is located in Gold City , a place you will come to for all your jewellery requirements . Designed par excellence and lavishy adored in marble and glass .
			We at Arihant Jewelleries strive to be a leading multinational in the jewellery and fashion industry and a house to international brands . Our aim is to delight customers by offering luxury wrapped in trust with the help of a team of dedicated professionals .
			We are committed to the society we serve to make a life easier and comfortable .
			For the convenience of customers Gold City now opens from 9.30 AM till 9.30 PM throughout the day without break and remaining opens on all holidays .</p>
              </div>   
	       <div style=" border-left: 5px solid #eba434;
    padding-left: 4px; margin-top:20px;"><h3><span style="color: #eba434;"> Our</span> Team</h3></div>
	</div>  
<div class="team-area" style="height:unset; width:unset;">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-team">
					<div class="img-area">
						<img src="AMIT.jpg" class="img-fluid">
						<div class="social">
							<ul class="list-inline">
								<li class="list-inline-item"><a href=""><i class="ti ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti ti-twitter-alt"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti ti-google"></i></a></li>
							</ul>
							  <p>
            	Amit is cofounder and chief marketing officer focusing on marketing strategy, sales, public relations and growth hacking.
                              </p>
						</div>
						
					</div>
					<div class="img-text">
						<h4>Amit Vasa</h4>
						<h5>Chief Marketing Officer</h5>
					</div>
					
				</div>
				
			</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-team">
					<div class="img-area">
						<img src="ANAND.jpg" class="img-fluid">
						<div class="social">
							<ul class="list-inline">
								<li class="list-inline-item"><a href=""><i class="ti ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti ti-twitter-alt"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti ti-google"></i></a></li>
							</ul>
							     <p>
            	Anand is cofounder of Arihant and director for strategic initiatives . He brings value to the business in the capacity of an entrepreneur and educator.
                        </p>
						</div>
						
					</div>
					<div class="img-text">
						<h4>Anand Vasa</h4>
						<h5>Chief Strategy Officer</h5>
					</div>
					
				</div>
				
			</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-team">
					<div class="img-area">
						<img src="PINAL.jpg" class="img-fluid">
						<div class="social">
							
							<ul class="list-inline">
								<li class="list-inline-item"><a href=""><i class="ti ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti ti-twitter-alt"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti ti-google"></i></a></li>
							</ul>
					
							  <p>
			            Pinal is cofounder of Arihant and manages operations. He has over 20 years’ experience in sales and management for precious metal companies in Middle-East and Asia.
			                  </p>
			            
						</div>
						
					</div>
					<div class="img-text">
						<h4>Pinal Vasa</h4>
						<h5>Chief Operating Officer</h5>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>
 <%- include("./partials/footer.ejs") %>