<!DOCTYPE html>
<html>
<head>
	<title></title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
	  <!-- <link rel="stylesheet" type="text/css" href="../public/stylesheets/contact.css"> -->
	  <script src="https://kit.fontawesome.com/0513175856.js" crossorigin="anonymous"></script> 
  <script src="https://kit.fontawesome.com/0513175856.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

 	<style type="text/css">
		html,body{
	width: 100%;
    height: 100%;
   
}
	.fa {
    padding-right: 10px;
    font-weight: 900;
}
	</style> 
</head>
<body class="bg-222 ">
  
          <div class="p-2 container ">
			  
			  <div class="row" style="margin-top: 50px;">
				  <div class="col-sm-12 col-md-6 ">
				      <h1 class="title-h p-relative color-fff" style="padding-bottom: 10px;">
				        <span class="fw-200">Contact </span> Us 
				        <span class="line p-absolute bg-orange"></span>
			          </h1>
			             <ul style="color:#fff; padding-left: 10px;list-style: none;">
                   <li><i class="fa fa-road"></i>K city building near goldcity mall,manama floor 5 office 506</li>
          <li><i class="fa fa-phone"></i> 00973 17210705  <i class="fa fa-phone" style="padding-left:10px;"></i> 00973 17229411</li>
          <li><i class="fa fa-envelope"></i> test@acme.test</li>
        </ul>
					  <div class="contact-form">
						  <form class="form" id="contact-form" method="post" action="contact.php" novalidate="true">
							  <div class="messages"></div>
							  <div class="controls">
								  <div class="row"> 
								  <div class="col-md-6">
									  <div class="form-group">
										  <input id="form_name" class="form-control" type="text" name="name" placeholder="Name" required="required" data-error="Name is required.">
										  <div class="help-block with-errors color-orange"></div>
									  </div>
								  </div>
								  <div class="col-md-6">
									  <div class="form-group">
										  <input id="form_email" class="form-control" type="email" name="email" placeholder="Email" required="required" data-error="email is required.">
									  <div class="help-block with-errors color-orange"></div>
									  </div>
								  </div>
								  <div class="col-md-12">
									  <div class="form-group">
										  <input id="form_subject" class="form-control" type="text" name="subject" placeholder="Subject">
										  <div class="help-block with-errors"></div>
									  </div>
								  </div>
								  <div class="col-md-12">
									  <div class="form-group">
										  <textarea id="form_message" class="form-control" name="message" placeholder="Message" rows="6" required="required" data-error="Message."></textarea>
										  <div class="help-block with-errors color-orange"></div>
									  </div>
								  </div>
								  <div class="col-md-12">
									  <input type="submit" value="Send Message" class="main-btn color-fff radius-50px bg-orange color-orange-hvr disabled">
								  </div>
								  </div>
							  </div>
						  </form>    
					  </div>
				  </div>
				  <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-center " style="margin-top: 10px">
				  	 
				  	   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14315.910310377678!2d50.5728897!3d26.229918093526198!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x14e6bb044aeacda6!2sArihant%20Jewellers!5e0!3m2!1sen!2sbh!4v1582899718402!5m2!1sen!2sbh"  frameborder="0" style="margin-top: auto;width: 100%;border:0;border-radius: 10px;height: 100%;padding-top: 5px;" allowfullscreen=""></iframe>
				     

				  </div>
			  </div>
          </div>   
     
</body>
</html>